<div class="three-fourth offset-eight card">
  <table>
    <thead>
      <tr>
        <th>Naam</th>
        <th class="sex-header"><span>Geslacht</span></th>
        <th>Lengte <span>(cm)</span></th>
        <th>Gewicht <span>(kg)</span></th>
        <th>Datum</th>
      </tr>
    </thead>
    <tbody>
      <% @votes.each.with_index do |vote, index| %>
        <tr>
          <td><%= vote.user.name %></td>
          <% if vote.male %>
            <td class="male"><span>Jongen</span></td>
          <% else %>
            <td class="female"><span>Meisje</span></td>
          <% end  %>
          <td><%= "%.2f" % vote.length %></td>
          <td><%= vote.weight %></td>
          <td><%= vote.born_at.strftime("%d/%m om %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
