<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Christine & Piet</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />

    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <a href="/">
        <img class="hero" alt="" src="/bebe.png"/>
      </a>
      <%= yield %>
    </div>
    <script type="text/javascript">
     var _gauges = _gauges || [];
     (function() {
         var t   = document.createElement('script');
         t.type  = 'text/javascript';
         t.async = true;
         t.id    = 'gauges-tracker';
         t.setAttribute('data-site-id', '5555d28ade2e262c78011062');
         t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
         t.src = 'https://track.gaug.es/track.js';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(t, s);
     })();
    </script>
  </body>
</html>
