<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Christine & Piet</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <a href="/">
        <img class="hero" alt="" src="/bebe.png"/>
      </a>
      <%= yield %>
    </div>
  </body>
</html>
